certifi==2019.11.28
chardet==3.0.4
idna==2.8
Jinja2==2.10.3
jsonpickle==1.2
MarkupSafe==1.1.1
Naked==0.1.31
pycryptodome==3.9.4
python-digitalocean==1.14.0
PyYAML==5.1.2
requests==2.22.0
shellescape==3.4.1
urllib3==1.25.7
